.provide1 {
  margin: 0;
}
.to-organizations-irrespective1 {
  font-weight: 100;
}
.team-to-organizations-irrespec1 {
  margin: 0;
  font-size: var(--font-size-41xl);
}
.provide-team-to-container1 {
  width: 440px;
  position: relative;
  display: inline-block;
  font-family: var(--heading-3);
}
.lorem-ipsum-dolor8 {
  width: 560px;
  position: relative;
  font-size: var(--body-1-size);
  line-height: 30px;
  color: var(--text-color);
  display: none;
}
.vector-icon5 {
  width: 7.8px;
  position: relative;
  height: 12.7px;
  display: none;
}
.primary-button2 {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.button2 {
  border-radius: var(--br-5xl);
  background: linear-gradient(92.57deg, #18b0e9, #0d80df);
  border: 1px solid var(--button-color);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--body-2-size);
  color: var(--white);
}
.here-banner-data1 {
  position: absolute;
  height: 31.29%;
  width: 23.57%;
  top: 57.46%;
  right: 76.43%;
  bottom: 11.25%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.hero-banner-image1 {
  position: absolute;
  height: 100%;
  width: 82.07%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 17.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vecteezy-letter-a-c-b-creative-icon1 {
  width: 38px;
  position: relative;
  height: 36px;
  object-fit: contain;
}
.ab-dummy-pte1 {
  position: relative;
}
.vecteezy-letter-a-c-b-creative-group {
  width: 234px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.about-us2 {
  cursor: pointer;
}
.about-us2,
.career2 {
  position: relative;
  line-height: 8px;
}
.vector-icon6 {
  width: 12px;
  position: relative;
  height: 6px;
  object-fit: contain;
  display: none;
}
.layout1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  cursor: pointer;
}
.frame,
.vector-icon8 {
  position: absolute;
  overflow: hidden;
}
.vector-icon8 {
  height: 92.39%;
  width: 100%;
  top: 7.61%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frame {
  top: 0;
  left: 8.4px;
  border-radius: var(--br-xs);
  background-color: var(--heading-text);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-10xs);
}
.cart-icon1 {
  width: 25.5px;
  position: relative;
  height: 27.6px;
  font-size: var(--font-size-2xs);
  color: var(--white);
}
.cart3,
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart3 {
  border-radius: var(--br-6xl);
  background-color: var(--color-deepskyblue-200);
  border: 1px solid var(--color-deepskyblue-100);
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.menu1 {
  justify-content: flex-end;
  gap: var(--gap-21xl);
  font-size: var(--body-2-size);
  color: var(--heading-text);
  font-family: var(--body-2);
}
.header1,
.hero-banner3 {
  position: absolute;
  left: 0;
}
.header1 {
  height: 5.52%;
  width: 74.96%;
  top: 42%;
  right: 25.04%;
  bottom: 52.48%;
  border-radius: var(--br-31xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 0;
  box-sizing: border-box;
  font-size: var(--heading-4-size);
  color: var(--color-black);
  font-family: var(--heading-3);
}
.hero-banner3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.hero-banner2 {
  position: absolute;
  top: -626.6px;
  left: 40px;
  width: 1867.1px;
  height: 1588.3px;
}
.team-building3 {
  width: 1400px;
  position: relative;
  display: inline-block;
}
.title-line-icon3 {
  width: 339px;
  position: relative;
  height: 38px;
}
.title3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.leadership-item {
  width: 600px;
  position: relative;
  border-radius: var(--corner);
  height: 493px;
  object-fit: cover;
}
.dot-h-child206 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 12px;
}
.dot-h4,
.frame-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.dot-h4 {
  width: 332px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frame-div {
  align-items: center;
  gap: var(--gap-2xl);
  text-align: center;
}
.leadership-hiring3 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-3-size);
  color: var(--heading-text);
}
.leadership-hiring5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.leadership-hiring4 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.building-extended-team2,
.bullet-points3,
.leadership1,
.title-data3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bullet-points3 {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--body-1-size);
  color: var(--text-color);
  font-family: var(--body-2);
}
.building-extended-team2,
.leadership1,
.title-data3 {
  width: 440px;
  gap: var(--gap-11xl);
}
.building-extended-team2,
.leadership1 {
  width: 1400px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-221xl);
}
.building-extended-team2 {
  justify-content: flex-end;
}
.leadership-group,
.team-building2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--gray-light);
}
.team-building2 {
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--heading-2-size);
  color: var(--color-black);
}
.services3 {
  align-self: stretch;
  position: relative;
}
.title-line-icon4 {
  width: 216px;
  position: relative;
  height: 24px;
}
.title4 {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--heading-2-size);
  color: var(--color-black);
}
.lorem-ipsum-dolor9 {
  width: 680px;
  position: relative;
  line-height: 30px;
  font-family: var(--body-2);
  display: inline-block;
}
.child1 {
  width: 497px;
  position: relative;
  border-radius: var(--corner);
  height: 300px;
  object-fit: cover;
}
.lorem-ipsum-dolor11 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-1-size);
  line-height: 30px;
  font-family: var(--body-2);
  color: var(--text-color);
}
.div6 {
  border-radius: var(--corner);
  background-color: var(--color-aliceblue);
  align-items: center;
  padding: var(--padding-61xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--heading-3-size);
  color: var(--heading-text);
}
.div6,
.div7,
.left2 {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div7 {
  border-radius: var(--br-11xl);
  align-items: center;
  padding: var(--padding-61xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--heading-3-size);
  color: var(--heading-text);
}
.left2 {
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.div8 {
  width: 680px;
  border-radius: var(--br-11xl);
  padding: var(--padding-61xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.div8,
.div9,
.right1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div9 {
  width: 680px;
  border-radius: var(--br-11xl);
  background-color: var(--color-aliceblue);
  padding: var(--padding-61xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.right1 {
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--heading-3-size);
  color: var(--heading-text);
}
.services2,
.title5 {
  display: flex;
  align-items: flex-start;
}
.services2 {
  width: 1400px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
}
.title5 {
  width: 680px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--heading-2-size);
  color: var(--color-black);
  font-family: var(--heading-3);
}
.ads1 {
  margin-bottom: 0;
}
.ads-increasing-footprints-container1 {
  width: 680px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.dot-h7 {
  position: absolute;
  top: 243px;
  left: 209px;
  width: 332px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--corner);
  width: 497px;
  height: 497px;
  object-fit: cover;
}
.fluentarrow-growth-24-filled-icon1 {
  position: absolute;
  top: 439.5px;
  left: 69.5px;
  border-radius: var(--br-3xs);
  width: 104px;
  height: 104px;
  overflow: hidden;
}
.dot-h-group {
  width: 541px;
  position: relative;
  height: 543.5px;
}
.revolutionize1 {
  width: 1400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-family: var(--body-2);
}
.about-us3 {
  flex: 1;
  position: relative;
  line-height: 8px;
  cursor: pointer;
}
.links1 {
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.footer1,
.middle-data1 {
  width: 1400px;
  display: flex;
}
.footer1 {
  border-radius: var(--corner) var(--corner) 0 0;
  background-color: var(--black);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--body-2-size);
  color: var(--white);
  font-family: var(--body-2);
}
.middle-data1 {
  position: absolute;
  top: 1062px;
  left: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-81xl);
  font-size: var(--body-1-size);
  color: var(--text-color);
  font-family: var(--heading-3);
}
.abd-landing-page-v2 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 5433px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--heading-text);
  font-family: var(--body-2);
}
